<%= form_with(model: @bank_branch) do |form| %>
   <% if @bank_branch.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <strong>🚫Atención hay errores:</strong>
      <ul>
        <% @bank_branch.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="container">
    <div class="form-group">  
             
       <div>
        <%= form.label :name, style: "display: block" %>
        <%= form.text_field :name, class:'form-control' %>
       </div>

        <div>
        <%= form.label :address, style: "display: block" %>
        <%= form.text_field :address, class:'form-control' %>
       </div>

       <div>
        <%= form.label :locality, style: "display: block"%>
        <%= form.collection_select :locality_id, ordered_localities, 
              :id, :to_string %>
       </div>

       <div>
        <%= form.label :phone, style: "display: block" %>
        <%= form.text_field :phone, class:'form-control' %>
       </div> 
       
       <div>
         <br> 
         <%= form.submit "Guardar Sucursal Bancaria", :class => "btn btn-outline-success"  %>
       </div>
    </div>
  </div>     
<% end %>