<div class="container">
  <p style="color: green"><%= notice %></p>
  <strong> Nombre: </strong> <%= @bank_branch.name %><br>
  <strong> Dirección: </strong> <%= @bank_branch.address %><br>
  <strong> Localidad: </strong> <%= @bank_branch.locality.name %>
  <strong> Provincia: </strong> <%= @bank_branch.locality.province %><br>
  <strong> Teléfono: </strong> <%= @bank_branch.phone %>
  <p> Faltan los horarios </p>
  <br>
  <%= link_to "Volver a las Sucursales Bancarias", bank_branches_path %>
</div>