<%= form_with model: @locality do |form| %>
  <% if @locality.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <strong>Atención hay errores:</strong>
      <ul>
        <% @locality.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="form-group">  
      <%= form.label :name %><br>
      <%= form.text_field :name, class:'form-control'  %><br>
      <%= form.label :province %><br>
      <%= form.text_field :province, class:'form-control' %>
      <br>
      <%= form.submit "Guardar Localidad", :class => "btn btn-outline-success"  %>
    </div>   
  </div>    
<% end %>
