 <%= form_with model: @locality do |f| %>
     <% if @locality.errors.any? %>
        <div class="alert alert-danger" role="alert">
          <strong>Atención hay errores:</strong>
          <ul>
            <% @locality.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
  <div class="container">
    <div class="form-group">  
      <%= f.label :Nombre %><br>
      <%= f.text_field :name, class:'form-control'  %><br>
      <%= f.label :Provincia %><br>
      <%= f.text_field :province, class:'form-control' %>
      <br>
      <%= f.submit "Guardar Localidad", :class => "btn btn-outline-success"  %>
    </div>   
  </div>    
<% end %>    