<div class="container">
   <tr>
    <td> <%= user.id %></td>
    <td> <%= user.username %></td>
    <td> <%= user.role %>
         <% if user.Personal? %>
            (<%= user.bank_branch.to_string %>)
         <% end %> 
    </td>
    <% if current_user.Administrador? %> 
      <td> <%= link_to 'Editar', edit_user_path(user), :class => "btn btn-primary btn-sm" %> </td>
      <td> <%= button_to "Eliminar", user_path(user), 
               {:onclick => "return confirm('Confirma el borrado?')", :class => "btn btn-danger btn-sm",
               :method => :delete, :disabled => (user.id == current_user.id) }%> </td>
    <% end %>
    <br>
   </tr> 
</div>
