<div class="container">
  <h2><strong> Sucursal Nombre: <%= @bank_branch.name.capitalize %> </strong></h2> 
  <p style="color: green"><%= notice %></p>
  <strong> Día de la semana: </strong> <%= @schedule.weekday %><br>
  <strong> Horario desde las: </strong> <%= @schedule.start_time.strftime("%H:%M") %>
  <strong> hasta las: </strong> <%= @schedule.end_time.strftime("%H:%M") %>
  <br>
  <%= link_to "Volver a los Horarios", bank_branch_schedules_path %>
</div>