<%= form_with(model: @turn) do |form| %>
   <% if @turn.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <strong>🚫Atención hay errores:</strong>
      <ul>
        <% @turn.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="container">
    <div class="form-group">  
       
       <div>
        <%= form.label "Sucursal Bancaria", style: "display: block"%>
        <%= form.collection_select :bank_branch_id, bank_branches_available, 
              :id, :to_string %>
       </div>

       <div>
          <%= form.label :date, style: "display: block" %>
          <%= form.date_field :date %>
       </div>

       <div>
          <%= form.label :time, style: "display: block" %>
          <%= form.time_field :time %>
       </div>

       <div>
          <%= form.label :reason, style: "display: block" %>
          <%= form.text_field :reason %>
       </div> 

       <div>
         <br> 
         <%= form.submit "Solicitar Turno", :class => "btn btn-outline-success"  %>
       </div>
    </div>
  </div>     
<% end %>