<div id="<%= dom_id turn %>">
  <p>
    <strong>Date:</strong>
    <%= turn.date %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= turn.time %>
  </p>

  <p>
    <strong>Reason:</strong>
    <%= turn.reason %>
  </p>

  <p>
    <strong>State:</strong>
    <%= turn.state %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= turn.comment %>
  </p>

</div>
